body {
  background-color: #f9f9f9;
}

/* Chat Window */
.chat-window {
  position: relative;  
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

/* Chat Bubbles */
.chat-bubble {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.chat-bubble.user {
  align-self: flex-end;
  background-color: #007aff;
  color: white;
  margin-left: 20%;
}
.chat-bubble.ai {
  align-self: flex-start;
  background-color: #dcdcdc;
  color: black;
  max-width: 80%;
}

.timestamp.user {
  align-self: flex-end;
  text-align: right;
}

.timestamp.ai {
  align-items: flex-start;
  text-align: left;
}

/* timestamp mobile responsive */
@media only screen and (max-width: 768px) {
  .timestamp {
    width: 100%;
    font-size: 10px;
  }
}

/* Message List */
.message-list {
  height: 100vh; /* 50px being the height of the input text area */
  padding-bottom: 50px;
  min-height: 80vh;
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  flex: 1;
  padding: 10px;
  margin-bottom: 75px;
  margin-top: 25px;
}

/* message input textarea */

.message-input {
  min-height: 75px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #d9d9d9;
}

.message-input textarea {
  resize: both;
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  margin-right: 10px;
}

.message-input textarea:focus {
  outline: none;
}

.message-input button {
  background-color: #007aff;
  color: #fff;
  border: none;
  margin-left: 10px;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right:10px;
}

.message-input button:active {
  background-color: #0062cc;
}

.new-conversation-button {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.info-data {
  padding: 10px;
  font-size: small;
}

.info-model {
  width: 0%;
}

.menu-button {
  font-weight: bold;
}

/* menu mobile responsive */
@media only screen and (max-width: 768px) {
  .info-model {
    width: 100%;
  }

  .info-data {
    font-weight: bold;
  }
}

/* chat window settings */
/* initial prompt text inputs */
.initial-prompt-text-inputs {
  width: 100%;
  height: 100px;
}

/*mobile responsive*/
@media only screen and (max-width: 600px) {
  .message-input textarea {
    width: 80%;
    margin-right: 0;
  }
  .message-input button {
    width: 10%;
    margin-right: 0;
    margin-top: 10px;
  }
}